@model DataModel.Models.HandyProsFormModel
<div class="page">
    <div>
        <div>
            <table>
                <tr>
                    <td style="text-align: right;border-right: 1px solid black;">
                        @Html.Label("MAINTENANCE REPORT ") &nbsp;
                        <br />
                        @Html.Label("RETAIL ")&nbsp;
                    </td>
                    <td style="width:1cm"></td>
                    <td style="background-color: black;">
                        <div style="width: 12.1cm;height: 1cm">
                            <div style="position: relative;float: right;right: 0.2cm;">
                                <img src="@Server.MapPath("~/Content/Images/Logo.png")" style="width: 6.4cm;height: 1.28cm;" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="height:0.8cm">
                    <td>
                    </td>
                </tr>
                <tr>
                    <td style="display: grid;">
                        @Html.LabelFor(x => x.SheetNumber, new { @style = "text-align: right;" })
                        @Html.TextBoxFor(x => x.SheetNumber, new { @style = "width:6cm;height:0.8cm" })
                    </td>
                    <td></td>
                    <td style="display: flex;">
                        <div style="display:grid;width:6.05cm">
                            @Html.LabelFor(x => x.Reference, new { @style = "text-align: right;" })
                            @Html.TextBoxFor(x => x.Reference, new { @style = "height:0.8cm" })
                        </div>
                        <div style="display:grid;width:6.05cm">
                            @Html.LabelFor(x => x.CustomerName, new { @style = "text-align: right;" })
                            @Html.TextBoxFor(x => x.CustomerName, new { @style = "height:0.8cm" })
                        </div>
                    </td>
                </tr>
                <tr style="height:0.8cm">
                    <td>
                    </td>
                </tr>
                <tr>
                    <td style="display: grid;">
                        @Html.LabelFor(x => x.TimeofInspection, new { @style = "text-align: right;" })
                        @Html.EditorFor(x => x.TimeofInspection, new { style = "width:6cm;height:0.8cm;" })
                    </td>
                    <td></td>
                    <td style="display: flex;">
                        <div style="display:grid;width:6.05cm">
                            @Html.LabelFor(x => x.DateofInspection, new { @style = "text-align: right;" })
                            @Html.EditorFor(x => x.DateofInspection, new { @style = "height:0.8cm" })
                        </div>
                        <div style="display:grid;width:6.05cm">
                            @Html.LabelFor(x => x.HandyProName, new { @style = "text-align: right;" })
                            @Html.TextBoxFor(x => x.HandyProName, new { @style = "height:0.8cm" })
                        </div>
                    </td>
                </tr>
                <tr style="height:0.8cm">
                    <td>
                    <td></td>
                    <td style="text-align: right;vertical-align: bottom;font-size: small;"><label>ELECTRICAL INSPECTION DETAILS</label></td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    @Html.TextBox("PART", "PART", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBox("CHECK", "CHECK", new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBox("STATUS", "STATUS", new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("TrackLights", "Track Lights", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsTrackLightsCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.TrackLightsStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    @Html.TextBox("LEDT8/T5", "LED T8/T5", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsLedT8T5Check.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.LedT8T5Status, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("DownLights", "Down Lights", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsDownLightsCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.DownLightsStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>                           
                            <tr>
                                <td>
                                    @Html.TextBox("Spots", "Spots", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsSpotsCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.SpotsStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
							<tr>
                                <td>
                                    @Html.TextBox("DBoard", "DashBoard", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsDBoardCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.DBoardStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
							<tr>
                                <td>
                                    @Html.TextBox("Emergency", "Emergency", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                 <td>
                                    @Html.CheckBoxFor(x => x.IsEmergencyCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.EmergencyStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
							 <tr>
                                <td>
                                    @Html.TextBox("Plugs", "Plugs", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                 <td>
                                    @Html.CheckBoxFor(x => x.IsPlugsCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.PlugsStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("ExitLights", "Exit Lights", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsExitLightsCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ExitLightsStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Signage", "Signage", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                 <td>
                                    @Html.CheckBoxFor(x => x.IsSignageCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.SignageStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                               <tr>
                                <td>
                                    @Html.TextBox("Cameras", "Cameras", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsCamerasCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.CamerasStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("UPS", "UPS", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                               <td>
                                    @Html.CheckBoxFor(x => x.IsUPSCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.UPSStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                    <td style="width:12.1cm;display:block">
                        <textarea id="tEIDetails" name="ElectricalInspectionDetails" rows="4" cols="100" maxlength="500" style="max-width:12.1cm;max-height:6.0325cm;height: 6.0325cm;"></textarea>
                    </td>
                </tr>
                <tr style="height:0.8cm">
                    <td>
                    </td>
                    <td></td>
                    <td style="text-align: right;vertical-align: bottom;font-size: small;"><label>MECHANICAL INSPECTION DETAILS</label></td>
                </tr>
                <tr>
                    <td>
                        <table> 
						<tr>
                                <td>
                                    @Html.TextBox("VRVVRF", "VRV/VRF", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsVRVVRFCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.VRVVRFStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("AHU", "AHU", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsAHUCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.AHUStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
							<tr>
                                <td>
                                    @Html.TextBox("DuctSupply", "Duct Supply", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsDuctSupplyCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.DuctSupplyStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
							<tr>
                                <td>
                                    @Html.TextBox("Grill", "Grill", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsGrillCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.GrillStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    @Html.TextBox("Split", "Split", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                 <td>
                                    @Html.CheckBoxFor(x => x.IsSplitsCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.SplitsStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Filters", "Filters", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                               <td>
                                    @Html.CheckBoxFor(x => x.IsFiltersCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.FiltersStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
							<tr>
                                <td>
                                    @Html.TextBox("Drain", "Drain", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsDrainCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.DrainStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
							<tr>
                                <td>
                                    @Html.TextBox("FreshAir", "Fresh Air", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                 <td>
                                    @Html.CheckBoxFor(x => x.IsFreshAirCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.FreshAirStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>   
                            <tr>
                                <td>
                                    @Html.TextBox("Exhaust", "Exhaust", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                 <td>
                                    @Html.CheckBoxFor(x => x.IsExhaustCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ExhaustStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("FloorDrain", "Floor Drain", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsFloorDrainCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.FloorDrainStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Manhole", "Manhole", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                 <td>
                                    @Html.CheckBoxFor(x => x.IsManholeCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ManholeStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                    <td style="width:12.1cm;display:block">
                        <textarea id="tMIDetails" name="MechanicalInspectionDetails" rows="4" cols="100" maxlength="500" style="max-width:12.1cm;max-height:6.0325cm;height: 6.0325cm;"></textarea>
                    </td>
                </tr>
                <tr style="height:0.8cm">
                    <td>
                    </td>
                    <td></td>
                    <td style="text-align: right;vertical-align: bottom;font-size: small;"><label>CIVIL INSPECTION DETAILS</label></td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    @Html.TextBox("Furniture", "Furniture", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsFurnitureCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.FurnitureStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>	
                            <tr>
                                <td>
                                    @Html.TextBox("Drawers", "Drawers", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                               <td>
                                    @Html.CheckBoxFor(x => x.IsDrawersCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.DrawersStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Doorknobs", "Door knobs", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                 <td>
                                    @Html.CheckBoxFor(x => x.IsDoorknobsCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.DoorknobsStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Hinges", "Hinges", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsHingesCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.HingesStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Mirrors", "Mirrors", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                 <td>
                                    @Html.CheckBoxFor(x => x.IsMirrorsCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.MirrorsStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Shelves", "Shelves", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsShelvesCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ShelvesStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Racks", "Racks", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsRacksCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.RacksStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Windows", "Windows", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                               <td>
                                    @Html.CheckBoxFor(x => x.IsWindowsCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.WindowsStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Ceiling", "Ceiling ", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                 <td>
                                    @Html.CheckBoxFor(x => x.IsCeilingCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.CeilingStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Floor", "Floor", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                               <td>
                                    @Html.CheckBoxFor(x => x.IsFloorCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.FloorStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBox("Fridge", "Fridge", new { @style = "width: 1.9cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.CheckBoxFor(x => x.IsFridgeCheck.Value, new { @style = "width: 1.3cm;height:0.4cm;" })
                                </td>
                                <td style="width:0.15cm"></td>
                                <td>
                                    @Html.TextBoxFor(x => x.FridgeStatus, new { @style = "width: 2.5cm;height:0.4cm;" })
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                    <td style="width:12.1cm;display:block">
                        <textarea id="tCIDetails" name="CivilInspectionDetails" rows="4" cols="100" maxlength="500" style="max-width:12.1cm;max-height:6.0325cm;height: 6.0325cm;"></textarea>
                    </td>
                </tr>
                <tr style="height:0.8cm">
                    <td>
                    </td>
                    <td></td>
                    <td style="text-align: right;vertical-align: bottom;font-size: small;"><label>SIGNATURES</label></td>
                </tr>
                <tr>
                    <td>
                        <textarea id="TechnicianSignature" name="HandyProsTechnicianSignature" rows="4" cols="100" maxlength="500" style="max-width:6cm;max-height:2.45cm;height: 2.45cm;" placeholder="Handy Pros Technician"></textarea>
                    </td>
                    <td></td>
                    <td style="width:12.1cm;display:block">
                        <textarea id="CustomerRepresentativeSignature" name="CustomerRepresentativeSignature" rows="4" cols="100" maxlength="500" style="max-width:12.1cm;max-height:2.45cm;height: 2.45cm;" placeholder="Customer’s Representative"></textarea>
                    </td>
                </tr>
                <tr style="height:0.8cm">
                    <td>
                    </td>
                    <td></td>
                    <td style="text-align: right;vertical-align: bottom;font-size: xx-small;"><label>Info</label></td>
                </tr>
            </table>

            <label style="position: relative;font-size: 6.8pt;padding-left: 18px;word-spacing: 0.3px;">HANDY PROS - CORRECTIVE & PREVENTIVE MAINTENANCE HARAM AL SINAII - NAHR EL MOTT - BEIRUT LEBANON - 0096170111246 INFO@HANDYPROS.ME</label>
        </div>
    </div>
</div>

<div style="clear:both"></div>